body {
  font-family: Arial, sans-serif;
  background-color: #fffafc;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #ff69b4;
  color: white;
  padding: 20px;
}

button {
  background-color: #ffc0cb;
  border: none;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
}
button:hover {
  background-color: #ff69b4;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}

.hidden {
  display: none;
}

footer {
  background-color: #ff69b4;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
